body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropzone {
    padding: 3em;
    border: 3px dotted #aaa;
    border-radius: 1rem;
}

.dropzone_active {
    background-color: orange;
}

.logo {
    height: 50px !important;
    width: auto !important;
    margin: 1rem 0 0 1rem !important;
    display: block;
}

.accordion {
    margin-bottom: 2rem;
}

.kaldi-log {
    height: 200px;
    width: 100%;
    border: 1px solid #aaa;
}

.data-bundle-list {
    padding-left: 0;
}

.data-bundle-list li {
    padding: 0.5rem;
    list-style-type: none;
}

.current-data-bundle,
.current-model {
    background-color: #D3A0F0 !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
    max-height: none !important;
    min-height: 100px !important;
}

li.no-lst {
    list-style-type: none
}

.ui.form .error,
.ui.message .content {
    white-space: pre-line;
}