{
  parser: "babel-eslint",
  plugins: [
    "react"
  ],
  extends: [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  rules: {
    react/prop-types: "off",
    semi: ["error","always"],
    eol-last: ["error", "always"],
    comma-dangle: ["error", "always-multiline"],
    quote-props: ["warn", "as-needed"],
    jsx-quotes: ["error", "prefer-double"],
    quotes: ["error", "double"],
    object-curly-spacing: ["error", "never"],
    array-bracket-spacing: ["error", "never"],
    space-in-parens: ["error", "never"],
    eqeqeq: ["error", "always"],
    no-multi-spaces: ["error"],
    key-spacing: ["error"],
    space-infix-ops: ["error"],
    max-len: ["error", {"code": 120}],
  },
  globals: {
    document: true,
    console: true,
    window: true,
    process: true,
    fetch: true,
    navigator: true,
    URL: true,
    setInterval: true,
    clearInterval: true,
    FormData: true,
    Set: true
  }
}
