{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "semi": ["error","always"],
    "eol-last": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "quote-props": ["warn", "as-needed"]
  },
  "globals": {
    "document": true,
    "console": true,
    "window": true,
    "process": true,
    "fetch": true,
    "navigator": true,
    "URL": true,
    "setInterval": true,
    "clearInterval": true
  }
}
