# Python
./env/
venv_test/
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
./elpis.egg-info/
.pytest_cache
.tool-versions
.python-version

# Node
package-lock.json
node_modules/

# Editors
.vscode/
.devcontainer/
*.xml
*.iml
.idea/

# Server
log.txt
state/

#testing
abui_toy_corpus/
recordings/

# mac files
.DS_Store

# Build & Docs
build/
dist/
docs/_build/
docs/elpis/*.rst
elpis-gui/
venv/
build.log
