# Python
./env/
venv_test/
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
./elpis.egg-info/
.pytest_cache

# Node
package-lock.json
node_modules/

# Editors
.vscode/
.devcontainer/
*.xml
*.iml
.idea/
.devcontainer/
devcontainer.json

# Server
log.txt
state/

#testing
abui_toy_corpus/
recordings/

# mac files
.DS_Store

# During the inheritance test.
elpis/engines/persephone/

# Build & Docs
build/
dist/
docs/_build/
elpis-gui/
venv/


