# Python
venv/
*.pyc
__pycache__/
*.egg-info/

# Node
package-lock.json
node_modules/

# Editors
.vscode/
*.xml
*.iml
.idea/

# Server
models/
transcriptions/
current_model/
current_transcription/
log.txt

#testing
name_file
uploaded_files/
abui_toy_corpus/

# mac files
.DS_Store