body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropzone {
    padding: 3em;
    border: 3px dotted #aaa;
    border-radius: 1rem;
}

.dropzone_active {
    background-color: orange;
}

.status {
    margin-top:1em;
}

.logo {
    height: 50px !important;
    width: auto !important;
    display: block;
}

.accordion {
    margin-bottom: 2rem;
}

.kaldi-log {
    height: 200px;
    width: 100%;
    border: 1px solid #aaa;
}

.dataset-list {
    padding-left: 0;
}

.dataset-list li {
    padding: 0.5rem;
    list-style-type: none;
}


.button.current {
    background-color: #D3A0F0 !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
    max-height: none !important;
    min-height: 100px !important;
}

li.no-lst {
    list-style-type: none
}

.ui.form .error,
.ui.message .content {
    white-space: pre-line;
}

.bug {
    color: #333;
    font-style: italic;
}

textarea.lexicon {
    font-family: monospace;
    width: 100%;
    min-height: 20em;
}

.ui.button.add {
    margin: 1em;
}

.right {
    float: right
}

label.pad-right,
.label.pad-right {
    margin-right: 0.5em
}

.label {
    float: left;
}

.form-wrapper {
    margin-bottom: 2em
}

.error-message {
    color: indianred;
}

.ui.table.settings .description {
    font-weight: normal
}

.stages { margin-top: 1em}

.stage .divider {
    margin: 0 0.5em
}

.file-list {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #aaa;
    padding: 1em;
}

.top-nav {
    font-weight: 400;
    border-width: 0px !important;
    box-shadow: none !important;
}

.top-nav .ui.selection.dropdown {
    min-width: 8em;
}

.keep-line-breaks {
    white-space: pre-line;
}

.dev-toolbar {
    background: repeating-linear-gradient(
      45deg,
      #F5F6CE,
      #F5F6CE 10px,
      #F8EFFB 10px,
      #F8EFFB 20px
    );
    padding: 6px;
    min-width: 200px;
    float: left;
    border-radius: 12px;
    margin-right: 1em;
}
.dev-toolbar p {
    padding:0;
    margin: 0;
}

.welcome-description {
    margin-bottom: 3em;
}
.train-description,
.transcription-description {
    margin-bottom: 1em;
}

.train-description {
    padding-bottom: 2em !important;
}

.train-description .column,
.transcription-description .column {
    display: flex !important;
    align-items: center;
}

.welcome .train-button a,
.welcome .transcribe-button a,
.engine-type-button {
    font-weight: bold;
    background-color: #F5F6CE;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: center;
}

.welcome .train-button a,
.welcome .transcribe-button a {
    padding: 1em;
}

.engine-type-button {
    margin: 1em;
}
