.stepList {
    position: relative
}

.stepList .item {
    position: relative;
}

.stepDone,
.substepDone {
    background-color: #E0C6EE;
}

.stepDoing {}

.substepDoing {
    background-color: #D3A0F0;
}