.stepList {
    position: relative
}

.stepList .item {
    position: relative;
}

.stepList .item > div {
    padding: 0 1em !important;
}
.ui.styled.accordion .active.title.stepDone,
.substepDone {
    background-color: #E0C6EE;
}

.ui.styled.accordion .active.title.stepDoing,
.substepDoing {
    background-color: #D3A0F0;
}


.firstSubstep {
    border-top: 1px solid black;
    font-weight: bold;
}
