.stepList {
    position: relative
}

.stepList .item {
    position: relative;
}

.ui.styled.accordion .active.title.stepDone,
.substepDone {
    background-color: #E0C6EE;
}

.ui.styled.accordion .active.title.stepDoing,
.substepDoing {
    background-color: #D3A0F0;
}
